/*place global styles here */
@import 'tailwindcss/components';

html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@layer components {
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    display: none;
  }
}